	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/12/2017 09:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 1rem;
  font-style: normal;
}

.flaticon-001-x-ray:before { content: "\f100"; }
.flaticon-002-wheelchair:before { content: "\f101"; }
.flaticon-003-walker:before { content: "\f102"; }
.flaticon-004-thermometer:before { content: "\f103"; }
.flaticon-005-teeth:before { content: "\f104"; }
.flaticon-006-syringe:before { content: "\f105"; }
.flaticon-007-stretcher:before { content: "\f106"; }
.flaticon-008-stomach:before { content: "\f107"; }
.flaticon-009-stethoscope:before { content: "\f108"; }
.flaticon-010-saline:before { content: "\f109"; }
.flaticon-011-plaster:before { content: "\f10a"; }
.flaticon-012-patient:before { content: "\f10b"; }
.flaticon-013-snellen:before { content: "\f10c"; }
.flaticon-014-doctor-1:before { content: "\f10d"; }
.flaticon-015-microscope:before { content: "\f10e"; }
.flaticon-016-pills:before { content: "\f10f"; }
.flaticon-017-medicine:before { content: "\f110"; }
.flaticon-018-lungs:before { content: "\f111"; }
.flaticon-019-liver:before { content: "\f112"; }
.flaticon-020-kidneys:before { content: "\f113"; }
.flaticon-021-hospital:before { content: "\f114"; }
.flaticon-022-hospital-bed:before { content: "\f115"; }
.flaticon-023-helicopter:before { content: "\f116"; }
.flaticon-024-heart-rate:before { content: "\f117"; }
.flaticon-025-heart:before { content: "\f118"; }
.flaticon-026-first-aid-kit:before { content: "\f119"; }
.flaticon-027-family:before { content: "\f11a"; }
.flaticon-028-eye:before { content: "\f11b"; }
.flaticon-029-ear:before { content: "\f11c"; }
.flaticon-030-pipette:before { content: "\f11d"; }
.flaticon-031-doctor:before { content: "\f11e"; }
.flaticon-032-dna:before { content: "\f11f"; }
.flaticon-033-brain:before { content: "\f120"; }
.flaticon-034-blood-pressure:before { content: "\f121"; }
.flaticon-035-transfusion:before { content: "\f122"; }
.flaticon-036-ambulance:before { content: "\f123"; }
