html, body {
    margin:0;
    padding:0;
    background-color:#ddd;

    /* -_-_- Fonts -_-_- */
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Open Sans', sans-serif;

    font-size: 18px;
    color: #555;
}
*, *::before, *::after {
    box-sizing:border-box;
}
/* ===== heading ===== */
h1, h2, h3, h4, h5, h6 {
    margin:0 0 15px;
    font-weight:700;
    padding:0;
}

a {
    text-decoration:none;
    display:inline-block;
    color:#222;
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:focus {
    outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
}

.section-padding {
  padding: 5rem 0;
  background: #fff;
  margin: 3rem 0;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.site-underline {
  position: relative;
  height: 5px;
  width: 2rem;
  background: black;
  left: 50%;
  transform: translate(-50%);
  border-radius: 1rem;
}
.site-underline::after {
  content: "";
  background: #6aaf08;
  width: 3rem;
  height: 5px;
  position: absolute;
  right: 100%;
  margin-right: 1rem;
  border-radius: 1rem;
}
.site-underline::before {
  content: "";
  position: absolute;
  background: #6aaf08;
  width: 3rem;
  height: 5px;
  left: 100%;
  margin-left: 1rem;
  border-radius: 1rem;
}
.single-featured-item {margin-bottom: 2rem;}
.featured-image{
  position: relative;
  background-image: url("../img/man-103.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 120px;
}
.featured-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  min-width: 100%;
  background: #6aaf08;
  z-index: -1;
}
.featured-content {margin-left: 1rem;}
.featured-content h3 {
  color: #555;
  font-weight: 700;
  font-size: 1.66rem;
  border-bottom: 2px dashed #6aaf08;
  padding-bottom: .55rem;
  margin-bottom: 1rem;
}
.featured-content p {
  color: #777;
  font-size: .88rem;
  font-weight: ;
  line-height: 1.375;
}

.big-featured-image {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/man-102.png");
  background-size: cover;
  background-position: center;
  border: 5px solid #fff;
  z-index: 1;
}
.big-featured-image::after {
  content: "";
  background-color: #6aaf08;
  width: 100%;
  height: 100%;
  top: 20px;
  right: 20px;
  position: absolute;
  z-index: -1;
}
.big-featured-image::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: rgba(255,0,0,.5);
}
