html, body {
    margin:0;
    padding:0;
    background-color:#ddd;
    /* -_-_- Fonts -_-_- */
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #222;
    box-sizing:border-box;
}
*, *::before, *::after {box-sizing: inherit;}
h1, h2, h3, h4, h5, h6 {
    margin:0 0 15px;
    font-weight:700;
    padding:0;
    font-family: 'Oswald', sans-serif;
}
a {
    text-decoration:none;
    display:inline-block;
    color:#222;
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:focus, input:focus, button:focus, textarea:focus {
    outline: 0 solid;
}
*::placeholder {
  color: #555;
  font-weight: 700;
}
img {
    max-width: 100%;
    height: auto;
}
.section-padding {
  padding: 5rem 0;
}
.section-padding.dark-bg {
  background-color: #343434;
  color: #999;
}
h2 {
}
.slide-item-text h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  position: relative;
  z-index: 1;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.slide-item-text h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  height: 2px;
  background: tomato;
}
.slide-item-text {
  padding-top: 3rem;
}
.bordered-btn {
  border: 2px solid tomato;
  color: #fff;
  font-weight: 700;
  font-family: oswald;
  text-transform: uppercase;
  padding: .5rem 1rem;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 2rem;
}
.bordered-btn i.fa {
  right: 0;
  top: 4px;
  margin-left: 2rem;
  position: relative;
  top: -2px;
}
.slide-item-info {
  position: relative;
  z-index: 1;
  padding-right: 1rem;
  text-align: right !important;
}

.slide-item-info-price {
    background:  tomato;
    width: 10rem;
    position:  absolute;
    right: 10rem;
    top: 0;
    height: 70%;
    text-align: center;
    padding-top: 1rem;
}

.slide-item-info-price p {
    color: #fff;
    opacity:  .7;
    text-transform:  uppercase;
    margin-bottom:  0;
}

.slide-item-info-price p.price-tag {
    opacity:  1;
    font-size:  2rem;
    font-family: oswald;
    font-weight:  700;
}

a.absolute-shopping-cart-icon {
    position:  absolute;
    top: 2rem;
    left: -1rem;
    background:  #fff;
    color: #000;
    width:  2rem;
    height:  2rem;
    line-height:  2rem;
    font-size: 1rem;
    box-shadow:  0 0 1rem 1px #777;
}

.slide-item-info img {
    position:  relative;
    z-index:  1;
    padding-top: 8rem;
}
.slide-items.owl-carousel .owl-dots {
    display:  inline-block;
    position:  relative;
}

.slide-items.owl-carousel .owl-dots>div.owl-dot {
    width: 2rem;
    height: 2rem;
    display:  block;
    position:  relative;
    z-index:  1;
    padding: 1rem;
    line-height: 2rem;
    text-align:  center;
    transition:  1s;
}

.slide-items.owl-carousel .owl-dots>div.owl-dot::after {
    content: "01";
    position:  absolute;
    top: 0;
    bottom:  0;
    left: 0;
    right:  0;
    transition: .2s;
}

.slide-items.owl-carousel .owl-dots>div.owl-dot::before {
    content:  "";
    position:  absolute;
    top: 0;
    width: 4px;
    height:  100%;
    background: #555;
    left: -4px;
    transition:  .2s;
}

.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(2)::after {content: "02";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(3)::after {content: "03";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(4)::after {content: "04";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(5)::after {content: "05";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(6)::after {content: "06";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(7)::after {content: "07";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(8)::after {content: "08";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(9)::after {content: "09";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(10)::after {content: "10";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(11)::after {content: "11";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(12)::after {content: "12";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(13)::after {content: "13";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(14)::after {content: "14";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(15)::after {content: "15";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(16)::after {content: "16";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(17)::after {content: "17";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(18)::after {content: "18";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(19)::after {content: "19";}
.slide-items.owl-carousel .owl-dots>div.owl-dot:nth-child(20)::after {content: "20";}

.slide-items.owl-carousel .owl-dots {
    position:  absolute;
    right: -15px;
    top: 50%;
    transform:  translate(0,-50%);
}

.slide-items.owl-carousel .owl-dots>div.owl-dot.active::before {
    background:  tomato;
}

.slide-items.owl-carousel .owl-dots>div.owl-dot.active::after {
    color: tomato;
}

.section-padding.dark-bg {
    background-image: url(../img/bg-2.jpg);
    background-size:  cover;
    background-position:  center;
    background-repeat:  no-repeat;
    position:  relative;
    z-index:  1;
}

.section-padding.dark-bg::after {
    content: "";
    position:  absolute;
    top: 0;
    left: 0;
    width:  100%;
    height:  100%;
    background:  #000;
    z-index: -1;
    opacity: 0.7;
}

/* Start Responsive CSS */
/* breakpoint-xs: 0; breakpoint-sm: 576px; breakpoint-md: 768px; breakpoint-lg: 992px; breakpoint-xl: 1200px; */
@media only screen and (max-width:767px){
  html, body{font-size:15px;}

  .section-padding {
    text-align: center !important;
  }

  .slide-item-info {
      margin-top: 2rem;
  }

  .slide-item-text {
      padding-top: 0;
  }

  .slide-item-text h2 {
      margin-bottom:  1rem;
      padding-bottom:  .5rem;
      line-height:  1.2;
  }

  a.bordered-btn {
      margin-top:  1rem;
  }

  .section-padding {
      padding: 2rem 0;
  }
  .slide-items.owl-carousel .owl-dots {
    bottom:  0;
    left: 50%;
    right: auto;
    top: auto;
  }

  .slide-items.owl-carousel .owl-dots>div.owl-dot {
      display:  inline-block;
  }

  .slide-items.owl-carousel .owl-dots>div.owl-dot::before {
      width: 100%;
      height:  4px;
      top: auto;
      bottom: 0;
      left: 0;
  }

  .slide-item-text {
      text-align:  left;
  }
}
