html, body {
    margin:0;
    padding:0;
    background-color:#ddd;
    /* -_-_- Fonts -_-_- */
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;

    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
    color: #000 ;
}
*, *::before, *::after {
    box-sizing:border-box;
}
/* ===== heading ===== */
h1, h2, h3, h4, h5, h6 {
    margin:0 0 15px;
    font-weight:300;
    padding:0;
}

a {
    text-decoration:none;
    display:inline-block;
    /*color:#222;*/
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:focus {
    outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
}



.padding-section {
    padding: 70px 0;
    background-color: #fff;
    margin: 30px 0;
    text-align: center;
}

.padding-section h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.padding-section p {
    font-size: 1.2222rem;
}

ul.faculties-social-area {
    background-color: #5ba939;
    margin: 0 10%;
    padding: 0;
    position: relative;
    display: block;
    transform: translateY(-50%);
    transition: .3s;

}

ul.faculties-social-area li {
    list-style: none;
    display: inline-block;
    margin: .55rem;
}

ul.faculties-social-area li a {
    padding: 6px;
    font-size: .888rem;
    line-height: .88rem;
    border: 1px solid;
    border-radius: 4px;
    color: #fff;
}

.single-item-box img {
    border: 2px solid #999;
    transition: .3s;
}

.single-item-box h3 {
    font-weight: 700;
    font-size: 1.44rem;
    margin: 0;
}

.single-item-box h4 {
    font-size: .888rem;
    font-weight: 400;
    color: #5ba939;
    margin-top: 10px;
}

.single-item-box {
    margin-top: 3rem;
}


.single-item-box:hover img{
  box-shadow: 0 0 10px 2px #999;
}
.single-item-box:hover ul.faculties-social-area{
  box-shadow: 0 4px 10px 2px #999;
}
