html, body {
    margin:0;
    padding:0;
    background-color:lightgray;

    /* -_-_- Fonts -_-_- */
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Open Sans', sans-serif;

    font-size: 17px;
    color: #222;
}
*, *::before, *::after {
    box-sizing:border-box;
}
/* ===== heading ===== */
h1, h2, h3, h4, h5, h6 {
    margin:0 0 15px;
    font-weight:700;
    padding:0;
}

a {
    text-decoration:none;
    display:inline-block;
    color:#222;
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:focus {
    outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
}


/* ===== Button ===== */
.btn{
    padding: .5rem 1rem;
    color: #222;
    background-color: #FFC107;
    text-transform:uppercase;
    display:inline-block;
    font-size:14px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    text-align:center;
    transition: .25s;
}

.btn:hover{
    color:#222;
    background-color:lightyellow;
    transition: .3s;
}

/* ===== Under-Line ===== */
.under-line{
    border-bottom: .4rem solid rgba(0,0,0,.5);
    max-width: 2rem;
    position:relative;
    left:50%;
    transform:translate(-50%);
    margin:0px 0 15px;

}
    .under-line::before{
        content:"";
        position:absolute;
        border-bottom:.4rem solid rgba(255,0,0,.5);
        width:4rem;
        right:100%;
        border-top-left-radius:99rem;
        border-bottom-left-radius:99rem;
    }
    .under-line::after{
        content:"";
        position:absolute;
        border-bottom:.4rem solid rgba(255,0,0,.5);
        width:4rem;
        left:100%;
        border-top-right-radius:99rem;
        border-bottom-right-radius:99rem;
    }


.myTable{
    max-width:100%;
    margin:20px 0 auto;
}


.table-heading{
    background: #333;
    margin:0 0 1.5rem 0;
}
.table-wrapper{
    background-color:#ddd;
}


.footer-wrapper{
    background-color:#333;
    margin:20px 0 auto;
    color:#999;
}
.footer-wrapper p{
    line-height: .7rem;
    margin:0 auto;
    padding: .75rem;
    font-size:.75rem;
}
