html, body {
    margin:0;
    padding:0;
    background-color:lightgray;

    /* -_-_- Fonts -_-_- */
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Open Sans', sans-serif;

    font-size: 17px;
    color: #222;
}
*, *::before, *::after {
    box-sizing:border-box;
}
/* ===== heading ===== */
h1, h2, h3, h4, h5, h6 {
    margin:0 0 15px;
    font-weight:700;
    padding:0;
}

a {
    text-decoration:none;
    display:inline-block;
    color:#222;
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:focus {
    outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
}

.my-border{
    border: 2px solid red;
}


/* ===== Button ===== */
.btn{
    padding: .75rem 1.5rem;
    color: #222;
    background-color: orange;
    text-transform:uppercase;
    display:inline-block;
    font-size:12px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    text-align:center;
    transition: .3s;
}

.btn:hover{
    color:#fff;
    background-color:#333;
    transition: .3s;
}

/* ===== Under-Line ===== */
.under-line{
    border-bottom: .4rem solid rgba(0,0,0,.5);
    max-width: 2rem;
    position:relative;
    left:50%;
    transform:translate(-50%);
    margin:-10px 0 15px;

}
.under-line::before{
    content:"";
    position:absolute;
    border-bottom:.4rem solid rgba(255,0,0,.5);
    width:4rem;
    right:100%;
    border-top-left-radius:99rem;
    border-bottom-left-radius:99rem;
}
.under-line::after{
    content:"";
    position:absolute;
    border-bottom:.4rem solid rgba(255,0,0,.5);
    width:4rem;
    left:100%;
    border-top-right-radius:99rem;
    border-bottom-right-radius:99rem;
}

/* ===== image url ===== */
.blog-box-bg-1{background-image:url();}

.myTable{
    max-width:100%;
    margin:0 auto;
}

.table-wrapper a{
    text-decoration: none;
    color: #222;
    display:inline-block;
    padding:10px 20px;
    background-color: orange;
    transition:.1s;
    font-size:.8rem;
    border:none;
    border-radius: 99rem;
    font-weight:700px;
}

.table-wrapper a:hover{
    background-color:darkorange;
    transition:.25s;
}
.table-heading{
    border-radius:99rem;
    background: #777;
    margin:1.5rem 0;
}
.table-heading h2{
    font-size:2rem;
    line-height:2rem;
}

.table-wrapper{
    padding: 2rem;;
}
