html, body {
    margin:0;
    padding:0;
    background-color:#ddd;

    /* -_-_- Fonts -_-_- */
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Open Sans', sans-serif;

    font-size: 17px;
    color: #222;
}
*, *::before, *::after {
    box-sizing:border-box;
}
/* ===== heading ===== */
h1, h2, h3, h4, h5, h6 {
    margin:0 0 15px;
    font-weight:700;
    padding:0;
}
a {
    text-decoration:none;
    display:inline-block;
    color:#222;
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:focus {
    outline: 0 solid;
}
img {
    max-width: 100%;
    height: auto;
}

.fullwidth-video-area{
  position:relative;
  margin:50px 0;
  font-family: 'Ubuntu', sans-serif;
}

.video-area-bg-1{
  background-color:#888;
  background-image:url(../img/rrf-cover.png);
  background-position:center;
  background-size:cover;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  width:45%;
  box-shadow: -4px 4px 8px 8px rgba(255,0,0,.3);
  border-radius:10px;
}


.video-area-bg-2{
  background-color:#888;
  background-image:url(../img/light-bokeh.jpg);
  background-position:center;
  background-size:cover;
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  width:55%;
  opacity:.3;
}

.myPopup-btn{
  background:#3FAC14;
  border:1px solid #fff;
  border-radius:50%;
  position:absolute;
  right:0;
  top:50%;
  transform:translate(50%,-50%);
  width:100px;
  height:100px;
  display:inline-block;
  text-align:center;
  font-size:60px;
  line-height:60px;
  padding:15px 15px 15px 25px;
  z-index:1;
  transition:.2s;
}
.myPopup-btn i.fa{
  color:#fff;
}

.myPopup-btn:hover{
  background-color:#fff;
  border-color:red;
}
.myPopup-btn:hover i.fa{
  color:red;
}

.content-wrapper{
  /*background-color:rgba(255,255,255,.2);*/
  height:100%;
  padding:0;
  padding-left:10%;
  margin:0;
}

.content-wrapper h3{
  color:#222;
  font-size:32px;
  padding:100px 0 20px 0;
}

.content-wrapper p{
  color:#555;
  font-size:20px;
  padding:0 0 10px 0;
}

.content-wrapper .check-icon{
  list-style:none;
  color:#333;
  font-size:22px;
  padding:0 0 100px 0;
}

.check-icon li{
  padding-bottom:10px;
  position:relative;
  padding-left:40px;
}

.check-icon li:before{
  position:absolute;
  font-family:fontAwesome;
  content:"\f00c";
  left:0;
  top:0;
  margin-top:8px;
  border:1px solid;
  border-radius:50%;
  display:inline-block;
  width:24px;
  height:24px;
  font-size:20px;
  line-height:24px;
  color:#888;
  border-color:#888;
}




















/**/
