html, body {
    margin:0;
    padding:0;
    background-color:#abc;
    /* -_-_- Fonts -_-_- */
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Neuton', serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    color: #fff;
    box-sizing:border-box;
}
*, *::before, *::after {box-sizing: inherit;}
h1, h2, h3, h4, h5, h6 {
    margin:0 0 15px;
    font-weight:700;
    padding:0;
}
a {
    text-decoration:none;
    display:inline-block;
    color:#fff;
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:focus, input:focus, button:focus, textarea:focus {
    outline: 0 solid;
}
*::placeholder {
  color: #ddd;
  font-weight: 700;
}
img {
    max-width: 100%;
    height: auto;
}
.hero-bg{background-image:url(../img/bg.jpg);}


.logo-area img {
  max-height: 2rem;
  display: inline-block;
}
.logo-area span {
  margin-left: 1rem;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  text-transform: lowercase;
  font-size: 1.22rem;
  font-weight: 700;
}
.navbar-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-area ul li {
  display: inline-block;
  \.: 0;
}
.navbar-area ul li a {
  padding: .25rem .5rem;
  font-family: 'ubuntu', sans-serif;
  line-height: 1;
  font-weight: 400;
  opacity: .5;
  font-size: .88rem;
  transition: .3s;
}
.navbar-area a:hover:not(.active-link) {
  text-decoration: underline;
  opacity: 1;
}
.navbar-area {
  position: relative;
  padding-top: .2rem;
}
.active-link {
  font-weight: 700 !important;
  opacity: 1 !important;
}

.hamburger-icon span {
  background: #fff;
  width: 1rem;
  height: .2rem;
  position: relative;
  display: block;
  text-align: center;
}
.hamburger-icon span:nth-child(2) {
  margin: .2rem 0;
  width: 1.5rem;
  margin-left: -.25rem;
}
.hamburger-icon {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
}
.header-nav-area {
  position: relative;
  padding: 1rem 0;
}
.header-nav-area::after {
  content: "";
  background: #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .25;
}

.header-nav-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
}
.hero-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ddd;
  padding-top: 12rem;
}
.hero-content-area {
  display: table;
  width: 100%;
  height: 100%;
}
.hero-content-table-cell {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.hero-text-area h1 {
  font-weight: 200;
  line-height: 1;
}
.hero-text-area p {
  opacity: .5;
  font-weight: 700;
  line-height: ;
}
.bordered-btn {
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: .5rem 2rem;
}

.bordered-btn:hover {
  background: #fff;
  color: #000;
}
.bordered-btn, .underline-btn {
  font-weight: 700;
  letter-spacing: 2px;
  transition: .3s;
}
.hero-text-area .bordered-btn {
  margin-right: 2rem;
}
.underline-btn {
  position: relative;
  z-index: 1;
}
.underline-btn::after {
  content: "";
  background: #fff;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: 0;
  opacity: .5;
}
.hero-text-area .bordered-btn, .hero-text-area .underline-btn {
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.hero-right-area-image img {
  max-height: 25rem;
  bottom: 0;
  position: absolute;
  left:100%;
}
.hero-bg {
  position: relative;
  z-index: 1;
}
.hero-bg::before {
  position: absolute;
  content: "";
  background: skyblue;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right,rgba(0,100,100,.75), rgba(0,0,0,.75), rgba(100,0,255,.75));
}

/* mobile menu */
.mobile-menu {
    position:  absolute;
    width: 33.33%;
    top: 0;
    height:100%;
    right: 0;
    background: rgba(0,0,0,.7);
    opacity: 0;
    z-index: -1000;
    visibility: hidden;
    transition: .3s;
}
.mobile-menu.active{
  opacity: 1;
  z-index: 1000;
  visibility: visible;
}

.mobile-menu ul {
    padding: 0;
    margin: 0;
    list-style:  none;
}

.mobile-menu ul li {
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

.mobile-menu ul li a {padding: 1rem 0;display:  block;position:  relative;padding-left: 6rem;letter-spacing: 6px;text-transform:  uppercase;}


.mobile-menu ul li a
 i.fa {
    position: absolute;
    left: 3rem;
    top: 1.2rem;
    font-size:  120%;
}

.mobile-menu ul li:nth-child(odd) {
    background: rgba(100,00,100,.5);
}

.mobile-menu ul li:nth-child(even) {
    background: rgba(1,100,100,.5);
}.mobile-menu h3 {
    padding: 1rem;
    background: skyblue;
    color: #000;
    border-bottom: 5px solid #fff;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-bottom:  0;
}

a.close-icon {
    position:  absolute;
    top: .5rem;
    right: 1rem;
    font-size:  2rem;
    color: #000;
}

.mobile-menu ul li a:hover {
    background:  rgba(255,255,255,.5);
    color: #000;
}
.mobile-menu-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  z-index: -999;
  transition: .3s;
}
.mobile-menu-overlay.active{
  opacity: .75;
  z-index: 999;
}













/* Start Responsive CSS */
/* breakpoint-xs: 0; breakpoint-sm: 576px; breakpoint-md: 768px; breakpoint-lg: 992px; breakpoint-xl: 1200px; */

@media only screen and (min-width:768px) and (max-width:991px){
  .hero-text-area .bordered-btn,
  .hero-text-area .underline-btn{
    margin-bottom: 3rem;
    font-size: .77rem;
  }
  .hero-text-area .bordered-btn{
    margin-bottom:0;
  }
}
@media only screen  and (max-width:767px){
  html, body{font-size: 15px;}
  .logo-area{
    display: block;
    text-align: center !important;
  }
  .navbar-area {
    text-align: center !important;
    padding-right: 1rem;
  }
  .hero-text-area {
    margin-right: 15rem;
  }
  .hero-right-area-image img {
    max-height: 25rem;
    max-width: 15rem;
    bottom: 0;
    right: 0;
    left:auto;
  }
  .hero-text-area .bordered-btn,
  .hero-text-area .underline-btn{
    margin-bottom: 3rem;
    font-size: .77rem;
  }
  .hero-text-area .bordered-btn{margin-bottom: 0;}
  .hero-text-area .bordered-btn {
     margin-right: .5rem;
  }
  .hero-right-area-image img {
    max-height: 22rem;
  }
  .mobile-menu {
      width: 90%;
  }
}
@media only screen  and (max-width:576px){
  html, body{font-size: 14px;}
  .hero-text-area {
    margin-right: 0rem;
  }
  .hero-right-area-image img {
    max-height: 10rem;
    max-width: auto;
    left:50%;
    transform:translate(-50%,0);
    bottom: 0;
    z-index: -1;
    opacity:.5;
  }
  .hero-text-area .bordered-btn,
  .hero-text-area .underline-btn{
    margin-bottom: 3rem;
    font-size: .77rem;
  }
  .hero-text-area .bordered-btn {
     margin-right: 1rem;
  }
  .hero-right-area-image img {
    max-height: 20rem;
  }
}
