/*root{
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}*/
html, body {
    margin:0;
    padding:0;
    background-color:rgba(0,0,0,.5);

    /* -_-_- Fonts -_-_- */
    font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Open Sans', sans-serif;

    font-size: 17px;
    color: #222;
}
*, *::before, *::after {
    box-sizing:border-box;
}
/* ===== heading ===== */
h1, h2, h3, h4, h5, h6 {
    margin:0 0 15px;
    font-weight:700;
    padding:0;
}

a {
    text-decoration:none;
    display:inline-block;
    color:#222;
}
a:hover {
    text-decoration:none;
    color:inherit;
}
a:focus, input:focus, button:focus, textarea:focus {
    outline: 0 solid;
}
*::placeholder {
  color: #555;
  font-weight: 700;
}
img {
    max-width: 100%;
    height: auto;
}

.padding-section {
  padding: 5rem 0;
  background: rgba(255,255,255,1);
  margin: 2rem 0;
}
.full-width-text-area h4 {
  font-weight: 400;
  color: #555;
}
.full-width-text-area h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #666;
  font-family: 'Roboto Slab', serif;
  font-weight: 400px;
  line-height: 1.5;
}
.full-width-text-area p {
  font-size: 1.222rem;
  line-height: 2;
}
.full-width-text-area {
  padding: 0rem 2rem;
  padding-bottom: 1rem;
}
.site-btn {
  background-color: #4752e9;
  padding: .5rem 2rem;
  border-radius: 5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
  border:1px solid transparent;
  transition: .3s;
}
.site-btn:hover {
  border-color: #4752e9;
  color: #4752e9;
  background: #fff;
}
.full-width-image-gallary {
  position: relative;
  padding-top: 3rem;
}
.full-width-image-gallary img {
  max-width: 60%;
  box-shadow: 0 0 3rem #555;
  border-radius: 10px;
}
.full-width-image-gallary img:nth-child(2), .full-width-image-gallary img:nth-child(3) {
  position: absolute;
  right: 0;
  bottom: 0;
}

.full-width-image-gallary img:nth-child(2) {
  z-index: 2;
  max-height: 90%;
}
.full-width-image-gallary img:nth-child(3) {
  z-index: 3;
  left: -3rem;
  max-width: 70%;
  bottom: -3rem;
}
.full-width-image-gallary img:nth-child(1) {
  top: -3rem;
  position: relative;
}




@media only screen and (max-width:575px){
  html,body{
    font-size: 13px;
  }
  .full-width-image-gallary {
    padding-top: 8rem;
    /*max-width: 80%;*/
    max-width: calc(100% - 3rem);
    margin: 0 auto;
  }
  .full-width-image-gallary img:nth-child(1) {
    left: 3rem;
  }
  .full-width-image-gallary img:nth-child(2) {
    right: 0;
  }
  .full-width-image-gallary img:nth-child(3) {
    left: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width:768px){
  html,body{
    font-size: 14px;
  }
  .full-width-image-gallary {
    padding-top: 8rem;
    /*max-width: 80%;*/
    max-width: calc(100% - 3rem);
    margin: 0 auto;
  }
  .full-width-image-gallary img:nth-child(1) {
    left: 3rem;
  }
  .full-width-image-gallary img:nth-child(2) {
    right: 0;
  }
  .full-width-image-gallary img:nth-child(3) {
    left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width:991px){
  html,body{
    font-size: 16px;
  }
  .full-width-text-area {
    padding: 0rem 2rem;
  }
  .full-width-image-gallary {
    padding-top: 5rem;
    padding-left: 1rem;
  }
}
@media only screen and (min-width: 992px) and (max-width:1199px){
  html,body{
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px){
  html,body{
    font-size: 20px;
  }
  .full-width-image-gallary {
    padding-top: 3rem;
  }

}
